footer.footer
    .container
        .row
            .col-12.col-lg-2
                a(href="/")
                    img.logo(src="images/logo.png")
                a.congthuong.d-none.d-md-inline-block(href="/")
                    img.logo(src="images/congthuong.png")
            .col-12.col-lg-10
                div.footer__list.d-flex.justify-content-between.align-items-center
                    ul.menu-list
                        li
                            a(href="") Quảng cáo
                        li
                            a(href="") Điều khoản
                        li
                            a(href="") Dịch vụ
                        li
                            a(href="") Chính sách
                        li
                            a(href="") Liên hệ
                    ul.social-list
                        li
                            a(href="")
                                img(src="images/footer/youtube.svg")
                        li
                            a(href="")
                                img(src="images/footer/facebook.svg")
                div.footer__contact
                    p.company-name Công ty TNHH sản xuất và quảng cáo Sóng Vàng
                    p Địa chỉ: Tầng 5, Toà nhà Fideco, 28 Phùng Khắc Khoan, Phường Đa Kao, Quận 1, Thành Phố Hồ Chí Minh
                    p Email: <a href="mailto:support@goldenadgroup.vn">support@goldenadgroup.vn</a>
                a.congthuong.d-block.d-md-none(href="/")
                    img.logo(src="images/congthuong.png")