<!--   Add this line above navbar   -->
a.close-navbar-toggler.collapsed(data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")

header.header
    .container.h-100.position-relative
        .row-12.d-flex.justify-content-between.align-items-end.align-items-sm-center.h-100
            div.header__left
                h1.logo
                    img(src="images/logo.png")
                .button.dropdown-toggle(data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation")
                    .hamburger
                        span
                        span
                        span
                    span.d-none.d-md-block Danh mục
                div.collapse.navbar-collapse#navbarMenu
                    div
                        div.background.container-fluid
                            .row
                                .col-12.col-md-4.p-0
                                    .cat--title
                                        i.icon.icon--creation
                                        div.title.title--creation
                                            span Sáng tạo nội dung
                                            i.icon.icon--next
                                .col-12.col-md-8.p-0
                                    .d-flex.flex-wrap
                                        .card
                                            img.card__img(src="/images/menu/1.png")
                                            .card__title NỘI DUNG NGUYÊN BẢN
                                        .card
                                            img.card__img(src="/images/menu/2.png")
                                            .card__title
                                        .card
                                            img.card__img(src="/images/menu/3.png")
                                            .card__title
                                        .card
                                            img.card__img(src="/images/menu/4.png")
                                            .card__title
                            .row
                                .col-12.col-md-4.p-0
                                    .cat--title
                                        i.icon.icon--channel
                                        div.title.title--channel
                                            span Kênh tiếp cận
                                            i.icon.icon--next
                                .col-12.col-md-8.p-0
                                    .d-flex.flex-wrap
                                        .card
                                            img.card__img(src="/images/menu/5.png")
                                            .card__title KÊNH GENZ
                                        .card
                                            img.card__img(src="/images/menu/6.png")
                                            .card__title
                                        .card
                                            img.card__img(src="/images/menu/7.png")
                                            .card__title
                                        .card
                                            img.card__img(src="/images/menu/8.png")
                                            .card__title
                                        .card
                                            img.card__img(src="/images/menu/9.png")
                                            .card__title
                                        .card
                                            img.card__img(src="/images/menu/10.png")
                                            .card__title
                                        .card
                                            img.card__img(src="/images/menu/11.png")
                                            .card__title
                                        .card
                                            img.card__img(src="/images/menu/12.png")
                                            .card__title
                form.form--search(method="" action="#").position-relative
                    input(type='search' placeholder='Nhập nội dung cần tìm')
                    button.button.button--orange(type='submit' id="dropdownSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                        svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M19.2892 15.7606L15.9975 12.4688C16.596 11.2718 16.995 9.87531 16.995 8.4788C16.995 3.79052 13.2044 0 8.51616 0C3.82788 0 0.0373535 3.79052 0.0373535 8.4788C0.0373535 13.1671 3.82788 16.9576 8.51616 16.9576C9.91267 16.9576 11.3092 16.5586 12.5062 15.9601L15.798 19.2519C16.7955 20.2494 18.2917 20.2494 19.2892 19.2519C20.187 18.2544 20.187 16.7581 19.2892 15.7606ZM8.51616 14.9626C4.92514 14.9626 2.03237 12.0698 2.03237 8.4788C2.03237 4.88778 4.92514 1.99501 8.51616 1.99501C12.1072 1.99501 15 4.88778 15 8.4788C15 12.0698 12.1072 14.9626 8.51616 14.9626Z' fill='white')
                        | Tìm kiếm
                    div.dropdown-menu.dropdown-menu-right#navbarSearch(aria-labelledby="dropdownSearch")
                        div.box-search
                            .form--search.position-relative
                                input(type='search' placeholder='Nhập nội dung cần tìm')
                                .d-flex.justify-content-end
                                    button.button.button--orange(type='submit')
                                        svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M19.2892 15.7606L15.9975 12.4688C16.596 11.2718 16.995 9.87531 16.995 8.4788C16.995 3.79052 13.2044 0 8.51616 0C3.82788 0 0.0373535 3.79052 0.0373535 8.4788C0.0373535 13.1671 3.82788 16.9576 8.51616 16.9576C9.91267 16.9576 11.3092 16.5586 12.5062 15.9601L15.798 19.2519C16.7955 20.2494 18.2917 20.2494 19.2892 19.2519C20.187 18.2544 20.187 16.7581 19.2892 15.7606ZM8.51616 14.9626C4.92514 14.9626 2.03237 12.0698 2.03237 8.4788C2.03237 4.88778 4.92514 1.99501 8.51616 1.99501C12.1072 1.99501 15 4.88778 15 8.4788C15 12.0698 12.1072 14.9626 8.51616 14.9626Z' fill='white')
                                        | Tìm kiếm
                            div.scroll.container-fluid
                                .row
                                    .col-12
                                        a.article-search
                                            img(src="/images/menu/search1.png")
                                            .content
                                                h4.title  Thanh xuân như một chén trà...
                                                .rating
                                                p.des  How to attribute? Attribution is required.
                                        a.article-search
                                            img(src="/images/menu/search2.png")
                                            .content
                                                h4.title  Thanh xuân như một chén trà...
                                                .rating
                                                p.des  How to attribute? Attribution is required.
                                        a.article-search
                                            img(src="/images/menu/search3.png")
                                            .content
                                                h4.title  Thanh xuân như một chén trà...
                                                .rating
                                                p.des  How to attribute? Attribution is required.
                                        a.article-search
                                            img(src="/images/menu/search1.png")
                                            .content
                                                h4.title  Thanh xuân như một chén trà...
                                                .rating
                                                p.des  How to attribute? Attribution is required.
                                        a.article-search
                                            img(src="/images/menu/search1.png")
                                            .content
                                                h4.title  Thanh xuân như một chén trà...
                                                .rating
                                                p.des  How to attribute? Attribution is required.

            div.header__right
                .header__user.d-none.d-md-flex
                    i.icon.icon--login
                    .des
                        p Đăng nhập / Đăng ký
                        .dropdown-toggle
                            b Tài khoản
                .header__user.d-block.d-md-none
                    i.icon.icon--user