.modal.modal--channel.fade.show(tabindex='-1' role='dialog' aria-labelledby='modal--channel' aria-hidden='true' style="display:block")
    .modal-dialog.modal-lg
        .modal-content
            .detail
                .detail__thumb
                    img(src="/images/thumb1.png")
                    .shadow
                    .content
                        .left-thumb
                            .headline
                                img.avatar(src="/images/brands/partner2.png")
                                .name KÊNH GEN Z
                            p.follow + 7.526.719 lượt theo dõi
                            p.view + 350.526.719 lượt xem
                        .right-thumb
                            .d-flex
                                +button--save2
                                +button--mail
                .detail-content
                    .container-fluid
                        .row
                            .col-6
                                canvas#myChart(width="400" height="400")
                            .col-6
                        .row
                            .col-12
                                .title Thông tin kênh
                                p.
                                    Mô tả
                                    Kênh phim điện ảnh, phim truyền hình, các chương trình truyền hình, giải trí, clip hậu trường.... chính thức của Golden. Toàn bộ các nội dung được đăng tải trên hệ thống được bảo hộ bản quyền ở Việt Nam và toàn thế giới!

                                    XEM TRỌN BỘ PHIM HAY VIỆT NAM 2020
                                    ► TRỌN BỘ PHIM HOA HỒNG KHÔNG DÀNH CHO EM: http://bit.ly/HoaHongKhongDanhChoEm
                                    ► TRỌN BỘ PHIM CUỘC CHIẾN QUÝ ÔNG: http://bit.ly/CuocChienQuyOng
                                    ► TRỌN BỘ PHIM VÒNG TRÒN 12 SỐ: http://bit.ly/VongTron12So
                                    ►TRỌN BỘ PHIM KẺ DỐI TRÁ CHÂN TÌNH: http://bit.ly/KeDoiTraChanTinh
                                    -----
                                     KÊNH PHIM CHÍNH THỨC CỦA GOLDEN NETWORK ẤN SUBSCRIBE NGAY ĐỂ THEO DÕI VIDEO MỚI NHẤT!
                                    ► Subscribe: http://bit.ly/3aFkHKg
                                    ► Fanpage: https://www.facebook.com/goldennetwork
                                    © 2020 By Song Vang Production
                                    - - - - - - - - - - - - - - - - - - - - - - - - - - -
                                    KÊNH PHIM HOẠT HÌNH TRẺ EM, ẤN SUBSCRIBE NGAY ĐỂ THEO DÕI VIDEO MỚI NHẤT!
                                    ► Subscribe: http://bit.ly/2TAixG5
                                    © 2020 By Song Vang Production
                                    #PhimhayVietNam #phimvn #phimvietnam



