mixin button--mail
    button.button.button--mail
        i.icon.icon--mail
        span Nhận báo giá

mixin button--viewmore(black)
    button.button.button--viewmore
        if black
            span.text--black Xem chi tiết
        else
            span Xem chi tiết
        i.icon.icon--more

mixin button--save
    button.button.button--save
        i.icon.icon--heart
        span Lưu vào yêu thích

mixin button--save2
    button.button.button--save2
        i.icon.icon--heart2
        span Lưu vào yêu thích

mixin button--buy-now
    button.button.button--buy-now
        i.icon.icon--cart
        span Chọn mua ngay

