
//  build:js assets/scripts/combined.js
script(src="libs/jquery/jquery.min.js")
script(src="libs/bootstrap/js/bootstrap.bundle.min.js")
script(src="js/swiper-bundle.js")
script(src="libs/chart.js/chart.min.js")
script(src="js/main.js")
//  endbuild
