meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0 ")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
title Golden
//  build:css assets/css/combined.css
link(rel="stylesheet" href="css/bootstrap.min.css")
link(rel="stylesheet" href="libs/swiper/swiper-bundle.min.css")
link(rel="stylesheet" href="css/styles.min.css")
//  endbuild

