.button{
  border-radius: 9999px ;
  border: none;
  height: 40px;
  color: $white;
  line-height: 40px;
  cursor: pointer;
  &:hover,&:focus,&:active{
    outline: none;
    box-shadow: none;
  }
  &--orange{
    background: $light-orange;
    color: $white;
  }
  &--register{
    background: linear-gradient(90deg, #FD4755 12.86%, #EA3457 100%);
    box-shadow: 0 4px 15px rgba(253, 71, 85, 0.25);
    border-radius: 10px;
    color: $white;
    display: inline-flex;
    align-items: center;
    padding: 10px 22px;
    i{
      margin-right: 15px;}
  }
  &--mail{
    width: 128px;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    color: $white;
    justify-content: center;
    background: linear-gradient(90deg, #FE9901 20.08%, #EE8633 81.5%);
    i{
      margin-right: 10px;
    }
  }
  &--viewmore{
    background: none;
    color: $white;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    i{
      margin-left: 10px;
    }
  }
  &--save{
    background: rgba(255,255,255,.5);
    color: $black;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    height: 30px;
    width: 155px;
    i{
      margin-right: 10px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--save2{
    color: $black;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    height: 30px;
    width: 155px;
    /* Gray 6 */

    background: #F2F2F2;
    i{
      margin-right: 10px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--buy-now{
    height: 30px;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #EA3457 0%, #D80027 100%);
    i{
      margin-right: 10px;
    }
  }
}