a{
  color: inherit;
  &:hover{
    color: unset;
    text-decoration: none;
  }
}
.dropdown-toggle{
  &::after{
    margin-left: 7px;
    border: none;
    vertical-align: middle;
    height: 8.1px;
    width: 15px;
    background: url("../../images/icon/icon-toggle.svg") no-repeat center/contain;
  }
}
.container{
  max-width: 1280px;
}
.container.container--style{
  max-width: 1142px;
}
section{
  margin: 68px 0;
  &:first-child{
    margin-top: 0;
  }
}
.swiper-navigation{
  width: 100%;
  position: static;
  display: flex;
  padding: 20px 15px 0;
  justify-content: flex-end;
  .icon{
    margin: 0 10px;
    top: 0;
    position: static;
  }
}

.swiper-pagination{
  position: static;
  padding: 50px 0;
  .swiper-pagination-bullet{
    width: 24px;
    height: 24px;
    margin: 0 18px!important;
  }
  .swiper-pagination-bullet-active {
    background: $orange;
  }
  @include md(){
    padding: 25px 0;
    .swiper-pagination-bullet{
      width: 10px;
      height: 10px;
      margin:0 10px!important;
    }
  }
}
.navbar{
  /*   z-index should be above .close-navbar-toggler */
  z-index:2;
}
.close-navbar-toggler{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:1;
  cursor:pointer;
}
.close-navbar-toggler.collapsed{
  z-index:-1;
}

.modal-dialog .modal-content{
  border-radius: 10px;
}
@media screen and (min-width: 1200px ) {
  .modal-lg, .modal-xl {
    max-width: 994px;
  }
}