.icon{
  display: inline-block;
  &--login{
    width: 30px;
    height: 30px;
    background: url("../../images/icon/icon-login.svg") no-repeat center/contain;
  }
  &--next{
    width: 40px;
    height: 27px;
    background: url("../../images/icon/icon-next.svg") no-repeat center/contain;
  }
  &--user{
    width: 30px;
    height: 30px;
    background: url("../../images/icon/icon-user.svg") no-repeat center/contain;
  }
  &--channel{
    width: 55px;
    height: 55px;
    background: url("../../images/menu/icon-channel.svg") no-repeat center/contain;
  }
  &--creation{
    width: 55px;
    height: 55px;
    background: url("../../images/menu/icon-world.svg") no-repeat center/contain;
  }
  &--register{
    width: 23px;
    height: 25px;
    background: url("../../images/icon/icon-register.svg") no-repeat center/contain;
  }
  &--tv{
    width: 20px;
    height: 20px;
    background: url("../../images/icon/icon-tv.svg") no-repeat center/contain;
  }
  &--gift{
    width: 29px;
    height: 29px;
    background: url("../../images/icon/gift.svg") no-repeat center/contain;
  }
  &--mail{
    width: 20px;
    height: 20px;
    background: url("../../images/icon/icon-mail.svg") no-repeat center/contain;
  }
  &--more{
    width: 30px;
    height: 30px;
    background: url("../../images/icon/more.svg") no-repeat center/contain;
  }
  &--heart{
    width: 20px;
    height: 18px;
    background: url("../../images/icon/heart.svg") no-repeat center/contain;
  }
  &--next-slide{
    width: 30px;
    height: 20px;
    &::before,&::after{
      content: none;
    }
    background: url("../../images/icon/next-slide.svg") no-repeat center/contain;
  }
  &--prev-slide{
    @extend .icon--next-slide;
    transform: rotate(180deg);
  }
  &--cart{
    width: 20px;
    height: 20px;
    background: url("../../images/icon/icon-shopping.svg") no-repeat center/contain;
  }
  &--heart2{
    width: 20px;
    height: 20px;
    background: url("../../images/icon/icon-love.svg") no-repeat center/contain;
  }
}