.page--title-style1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    height: 120px;
    margin-bottom: 35px;
  }
  h2{
    color: $black;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
  }
  @include md(){
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: wrap;
    p{
      margin-top: 15px;
      flex:  0 0 100%;
    }
    img{
      height: 48px;
      margin-bottom: 0;
      margin-right: 14px;
    }
    h2{
      font-size: 18px;
      line-height: 21px;
    }
  }
}

@mixin text-clamp($lines: 2, $line-height: false) {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;

  // Fallback for non-Webkit browsers
  // (won't show `…` at the end of the block)
  @if $line-height {
    max-height: $line-height * $lines * 1px;
  }
}