extends layouts/app
include includes/utilities

block content
    main.brands-page
        section.section--intro
            .container.container--style
                .row
                    .col-12
                        h1.title.
                            Hệ thống kênh truyền thông với hơn 10 triệu người dùng.
                            Dễ dàng tiếp cận đúng khách hàng mục tiêu
                        button.button.button--orange
                            i.icon.icon--next
                            span Xem chi tiết

            .svg-border-rounded.text-white
                // Rounded SVG Border
                svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 144.54 17.34' preserveaspectratio='none' fill='currentColor')
                    path(d='M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0')
        section.section--box
            .container.container--style
                .row
                    .col-12
                        .box
                            .container-fluid.p-0
                                .row
                                    .col-12.col-md-4
                                        .box__title Ưu đãi cho những khách hàng đăng ký mới
                                        .button.button--register
                                            i.icon.icon--register
                                            span Đăng ký ngay
                                    .col-12.col-md-8
                                        .swiper-container.swiper-box
                                            .swiper-wrapper
                                                .swiper-slide
                                                    .box__article
                                                        img(src="/images/brands/box-1.png")
                                                        .shadow
                                                        .content
                                                            .d-flex.justify-content-between
                                                                div
                                                                    .des
                                                                        i.icon.icon--tv
                                                                        span Kênh Gen Z
                                                                    .slide-up
                                                                        p.follow + 7.526.719 lượt theo dõi
                                                                        p.view + 7.526.719 lượt theo xem
                                                                        p.discount.text--red Giảm 20% cho khách hàng mới
                                                                        .d-flex.justify-content-between.align-items-center
                                                                            +button--mail
                                                                            +button--viewmore
                                                                    i.icon.icon--gift
                                                .swiper-slide
                                                    .box__article
                                                        img(src="/images/brands/box-2.png")
                                                        .shadow
                                                        .content
                                                            .d-flex.justify-content-between
                                                                div
                                                                    .des
                                                                        i.icon.icon--tv
                                                                        span Kênh Gen Z
                                                                    .slide-up
                                                                        p.follow + 7.526.719 lượt theo dõi
                                                                        p.view + 7.526.719 lượt theo dõi
                                                                        p.discount.text--red Giảm 20% cho khách hàng mới
                                                                        .d-flex.justify-content-between.align-items-center
                                                                            +button--mail
                                                                            +button--viewmore
                                                                    i.icon.icon--gift
                                                .swiper-slide
                                                    .box__article
                                                        img(src="/images/brands/box-1.png")
                                                        .shadow
                                                        .content
                                                            .d-flex.justify-content-between
                                                                div
                                                                    .des
                                                                        i.icon.icon--tv
                                                                        span Kênh Gen Z
                                                                    .slide-up
                                                                        p.follow + 7.526.719 lượt theo dõi
                                                                        p.view + 7.526.719 lượt theo dõi
                                                                        p.discount.text--red Giảm 20% cho khách hàng mới
                                                                        .d-flex.justify-content-between.align-items-center
                                                                            +button--mail
                                                                            +button--viewmore
                                                                    i.icon.icon--gift
        section.section--block4
            .container.container--style
                .row
                    .col-12
                        .swiper-container.swiper-block
                            .swiper-wrapper
                                .swiper-slide
                                    .block
                                        img.block__image(src='/images/icon/icon-suggest.svg')
                                        .block__title Tư vấn chiến lược và lập kế hoạch truyền thông
                                        .block__des.
                                            Tư vấn khách hàng về chiến lược marketing tổng thể cùng kế hoạch triển khai các chiến dịch quảng cáo bằng 20 năm kinh nghiệm từ tập đoàn truyền thông Golden.
                                        .d-flex.justify-content-center
                                            +button--mail
                                .swiper-slide
                                    .block
                                        img.block__image(src='/images/icon/icon-create.svg')
                                        .block__title Sáng tạo nội dung
                                        .block__des.
                                            Chúng tôi là chuyên gia trong việc nắm bắt xu hướng trên mạng xã hội, cùng với KOL, Golden Content Hub mang đến những nội dung sáng tạo, thú vị và độc đáo cho nhãn hàng.
                                        .d-flex.justify-content-center
                                            +button--mail
                                .swiper-slide
                                    .block
                                        img.block__image(src='/images/icon/icon-calendar.svg')
                                        .block__title Book KOLs và quản lý
                                        .block__des.
                                            Đề xuất KOL phù hợp, có mạng lưới rộng khắp và quan hệ gần gũi, hiểu tâm lý và biết cách làm việc với KOL.
                                        .d-flex.justify-content-center
                                            +button--mail
                                .swiper-slide
                                    .block
                                        img.block__image(src='/images/icon/icon-booking.svg')
                                        .block__title Media booking
                                        .block__des.
                                            Hệ thống OOH, TV, PR, Social Media rộng khắp, tối ưu hoá chi phí nhưng vẫn cam kết ROI chất lượng.
                                        .d-flex.justify-content-center
                                            +button--mail

        section.section--channel
            .container
                .row
                    .col-12.col-md-5
                        .article-brand1
                            img(src="/images/brands/box-1.png")
                            .shadow
                            .content
                                div.flex-grow-1.pr-5
                                    .title Kênh Gen Z
                                    p.follow
                                        svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                            path(d='M20 10C20 15.5229 15.5229 20 10 20C4.47708 20 0 15.5229 0 10C0 4.47708 4.47708 0 10 0C15.5229 0 20 4.47708 20 10Z' fill='#FE9901')
                                            path(d='M13.7942 6.69724C13.7942 4.60907 12.0953 2.91016 10.007 2.91016C7.91882 2.91016 6.21991 4.60907 6.21991 6.69724C6.21991 7.93304 6.81485 9.03229 7.73343 9.72412C5.27402 10.6473 3.5188 13.0228 3.5188 15.8008H4.69067C4.69067 12.8693 7.07562 10.4845 10.007 10.4845C12.0953 10.4845 13.7942 8.78555 13.7942 6.69724ZM10.007 9.31259C8.56488 9.31259 7.39178 8.13934 7.39178 6.69724C7.39178 5.25513 8.56488 4.08203 10.007 4.08203C11.4491 4.08203 12.6223 5.25513 12.6223 6.69724C12.6223 8.13934 11.4491 9.31259 10.007 9.31259Z' fill='white')
                                            path(d='M16.5202 12.6138H14.4194V10.5129H13.2475V12.6138H11.1467V13.7856H13.2475V15.8865H14.4194V13.7856H16.5202V12.6138Z' fill='white')

                                        | + 7.526.719 lượt theo dõi
                                    p.view + 242.526.719 lượt xem
                                    .line.line-dashed
                                    .percent
                                        span Nam
                                        .percent__wrapper
                                            .percent__meter.percent--men(style="width:45%" data-percent="45%")
                                    .percent
                                        span Nữ
                                        .percent__wrapper
                                            .percent__meter.percent--women(style="width:55%" data-percent="55%")
                                div.d-flex.flex-column.align-items-end
                                    +button--save
                                    div(data-toggle="modal" data-target=".modal--channel")
                                        +button--viewmore
                    .col-12.col-md-7
                        .swiper-container.swiper-brand2
                            .swiper-wrapper
                                .swiper-slide
                                    .article-brand2
                                        img(src="images/brands/thumb1.png")
                                        .des.d-flex.justify-content-between.align-items-center
                                            div.d-flex.flex-column
                                                +button--mail
                                                .show-hover
                                                    +button--buy-now
                                            div.d-flex.flex-column.align-items-end
                                                .show-hover
                                                    +button--save2
                                                +button--viewmore("black")
                                .swiper-slide
                                    .article-brand2
                                        img(src="images/brands/thumb2.png")
                                        .des.d-flex.justify-content-between.align-items-center
                                            div.d-flex.flex-column
                                                +button--mail
                                                .show-hover
                                                    +button--buy-now
                                            div.d-flex.flex-column.align-items-end
                                                .show-hover
                                                    +button--save2
                                                +button--viewmore("black")
                                .swiper-slide
                                    .article-brand2
                                        img(src="images/brands/thumb2.png")
                                        .des.d-flex.justify-content-between.align-items-center
                                            div.d-flex.flex-column
                                                +button--mail
                                                .show-hover
                                                    +button--buy-now
                                            div.d-flex.flex-column.align-items-end
                                                .show-hover
                                                    +button--save2
                                                +button--viewmore("black")
                            .swiper-navigation
                                .swiper-button-prev.icon.icon--prev-slide
                                .swiper-button-next.icon.icon--next-slide
                .row
                    .col-12.col-md-5
                        .article-brand1
                            img(src="/images/brands/box-2.png")
                            .shadow
                            .content
                                div.flex-grow-1.pr-5
                                    .title Kênh Gen Z
                                    p.follow + 7.526.719 lượt theo dõi
                                    p.view + 242.526.719 lượt xem
                                    .line.line-dashed
                                    .percent
                                        span Nam
                                        .percent__wrapper
                                            .percent__meter.percent--men(style="width:45%" data-percent="45%")
                                    .percent
                                        span Nữ
                                        .percent__wrapper
                                            .percent__meter.percent--women(style="width:55%" data-percent="55%")
                                div.d-flex.flex-column.align-items-end
                                    +button--save
                                    +button--viewmore
                    .col-12.col-md-7
                        .swiper-container.swiper-brand2
                            .swiper-wrapper
                                .swiper-slide
                                    .article-brand2
                                        img(src="images/brands/thumb4.png")
                                        .des.d-flex.justify-content-between.align-items-center
                                            div.d-flex.flex-column
                                                +button--mail
                                                .show-hover
                                                    +button--buy-now
                                            div.d-flex.flex-column.align-items-end
                                                .show-hover
                                                    +button--save2
                                                +button--viewmore("black")
                                .swiper-slide
                                    .article-brand2
                                        img(src="images/brands/thumb1.png")
                                        .des.d-flex.justify-content-between.align-items-center
                                            div.d-flex.flex-column
                                                +button--mail
                                                .show-hover
                                                    +button--buy-now
                                            div.d-flex.flex-column.align-items-end
                                                .show-hover
                                                    +button--save2
                                                +button--viewmore("black")
                                .swiper-slide
                                    .article-brand2
                                        img(src="images/brands/thumb5.png")
                                        .des.d-flex.justify-content-between.align-items-center
                                            div.d-flex.flex-column
                                                +button--mail
                                                .show-hover
                                                    +button--buy-now
                                            div.d-flex.flex-column.align-items-end
                                                .show-hover
                                                    +button--save2
                                                +button--viewmore("black")
                            .swiper-navigation
                                .swiper-button-prev.icon.icon--prev-slide
                                .swiper-button-next.icon.icon--next-slide
                .row
                    .col-12.col-md-5
                        .article-brand1
                            img(src="/images/brands/box-3.png")
                            .shadow
                            .content
                                div.flex-grow-1.pr-5
                                    .title Kênh Gen Z
                                    p.follow + 7.526.719 lượt theo dõi
                                    p.view + 242.526.719 lượt xem
                                    .line.line-dashed
                                    .percent
                                        span Nam
                                        .percent__wrapper
                                            .percent__meter.percent--men(style="width:45%" data-percent="45%")
                                    .percent
                                        span Nữ
                                        .percent__wrapper
                                            .percent__meter.percent--women(style="width:55%" data-percent="55%")
                                div.d-flex.flex-column.align-items-end
                                    +button--save
                                    +button--viewmore
                    .col-12.col-md-7
                        .swiper-container.swiper-brand2
                            .swiper-wrapper
                                .swiper-slide
                                    .article-brand2
                                        img(src="images/brands/thumb4.png")
                                        .des.d-flex.justify-content-between.align-items-center
                                            div.d-flex.flex-column
                                                +button--mail
                                                .show-hover
                                                    +button--buy-now
                                            div.d-flex.flex-column.align-items-end
                                                .show-hover
                                                    +button--save2
                                                +button--viewmore("black")
                                .swiper-slide
                                    .article-brand2
                                        img(src="images/brands/thumb5.png")
                                        .des.d-flex.justify-content-between.align-items-center
                                            div.d-flex.flex-column
                                                +button--mail
                                                .show-hover
                                                    +button--buy-now
                                            div.d-flex.flex-column.align-items-end
                                                .show-hover
                                                    +button--save2
                                                +button--viewmore("black")
                                .swiper-slide
                                    .article-brand2
                                        img(src="images/brands/thumb6.png")
                                        .des.d-flex.justify-content-between.align-items-center
                                            div.d-flex.flex-column
                                                +button--mail
                                                .show-hover
                                                    +button--buy-now
                                            div.d-flex.flex-column.align-items-end
                                                .show-hover
                                                    +button--save2
                                                +button--viewmore("black")
                            .swiper-navigation
                                .swiper-button-prev.icon.icon--prev-slide
                                .swiper-button-next.icon.icon--next-slide
        section.section--discover
            .container
                .row
                    .col-12
                        .page--title-style1
                            img(src="images/icon/icon-discover.svg")
                            h2 KHÁM PHÁ
                        .d-flex.justify-content-end
                            a(href="#").button.button--viewmore.section__viewmore
                                span.text--black Xem tất cả
                                i.icon.icon--more
                    .col-12
                        .swiper-container.swiper-discover
                            .swiper-wrapper
                                .swiper-slide
                                    .article-discover
                                        img(src="images/brands/discover1.png")
                                        .shadow
                                        .content
                                            h3.title iTV Live
                                            .tags
                                                span.tag itvlivevn
                                                span.dot Mạng truyền hình
                                            p.des.
                                                iTV Live là sản phẩm dịch vụ Live chat cộng đồng chủ lực của ...
                                            .viewmore.d-flex.justify-content-end
                                                +button--viewmore
                                .swiper-slide
                                    .article-discover
                                        img(src="images/brands/discover2.png")
                                        .shadow
                                        .content
                                            h3.title iTV Live
                                            .tags
                                                span.tag itvlivevn
                                                span.dot Mạng truyền hình
                                            p.des.
                                                iTV Live là sản phẩm dịch vụ Live chat cộng đồng chủ lực của ...
                                            .viewmore.d-flex.justify-content-end
                                                +button--viewmore
                                .swiper-slide
                                    .article-discover
                                        img(src="images/brands/discover3.png")
                                        .shadow
                                        .content
                                            h3.title iTV Live
                                            .tags
                                                span.tag itvlivevn
                                                span.dot Mạng truyền hình
                                            p.des.
                                                iTV Live là sản phẩm dịch vụ Live chat cộng đồng chủ lực của ...
                                            .viewmore.d-flex.justify-content-end
                                                +button--viewmore
                                .swiper-slide
                                    .article-discover
                                        img(src="images/brands/discover1.png")
                                        .shadow
                                        .content
                                            h3.title iTV Live
                                            .tags
                                                span.tag itvlivevn
                                                span.dot Mạng truyền hình
                                            p.des.
                                                iTV Live là sản phẩm dịch vụ Live chat cộng đồng chủ lực của ...
                                            .viewmore.d-flex.justify-content-end
                                                +button--viewmore
                            .swiper-pagination
        section.section--adv
            .container-fluid
                .row
                    .col-12
                        .page--title-style1
                            img(src="images/icon/icon-adv.svg")
                            h2 HỆ THỐNG KÊNH QUẢNG BÁ
                            p Chúng tôi có hệ thống mạng xã hội hơn 10 triệu dữ liệu để quảng bá cho nội dung của bạn
                    .col-12
                        .swiper-container.swiper-adv
                            .swiper-wrapper
                                .swiper-slide
                                    .article-adv
                                        img(src="images/brands/a1.png")
                                        .shadow
                                        .content.text-center
                                            h3.title Golden Network
                                            p.follow 59,554 followers
                                            .viewmore.d-flex.justify-content-center
                                                a.button.button--orange Xem thông tin
                                .swiper-slide
                                    .article-adv
                                        img(src="images/brands/a2.png")
                                        .shadow
                                        .content.text-center
                                            h3.title Golden Network
                                            p.follow 59,554 followers
                                            .viewmore.d-flex.justify-content-center
                                                a.button.button--orange Xem thông tin
                                .swiper-slide
                                    .article-adv
                                        img(src="images/brands/a3.png")
                                        .shadow
                                        .content.text-center
                                            h3.title Golden Network
                                            p.follow 59,554 followers
                                            .viewmore.d-flex.justify-content-center
                                                a.button.button--orange Xem thông tin
                                .swiper-slide
                                    .article-adv
                                        img(src="images/brands/a4.png")
                                        .shadow
                                        .content.text-center
                                            h3.title Golden Network
                                            p.follow 59,554 followers
                                            .viewmore.d-flex.justify-content-center
                                                a.button.button--orange Xem thông tin
                                .swiper-slide
                                    .article-adv
                                        img(src="images/brands/a5.png")
                                        .shadow
                                        .content.text-center
                                            h3.title Golden Network
                                            p.follow 59,554 followers
                                            .viewmore.d-flex.justify-content-center
                                                a.button.button--orange Xem thông tin
                            .swiper-pagination
        section.section--teamwork
            .container
                .row
                    .col-12
                        .page--title-style1
                            img(src="images/icon/icon-teamwork.svg")
                            h2 Our Partnerships
                    .col-12
                        .swiper-container.swiper-teamwork
                            .swiper-wrapper
                                .swiper-slide
                                    .article-partner
                                        img(src="images/brands/partner1.png")
                                        .content.text-center
                                            h3.title Golden Screen Production
                                            .slide-up
                                                +button--buy-now
                                                +button--save2
                                .swiper-slide
                                    .article-partner
                                        img(src="images/brands/partner2.png")
                                        .content.text-center
                                            h3.title Golden Screen Production
                                            .slide-up
                                                +button--buy-now
                                                +button--save2
                                .swiper-slide
                                    .article-partner
                                        img(src="images/brands/partner1.png")
                                        .content.text-center
                                            h3.title Golden Screen Production
                                            .slide-up
                                                +button--buy-now
                                                +button--save2
                                .swiper-slide
                                    .article-partner
                                        img(src="images/brands/partner2.png")
                                        .content.text-center
                                            h3.title Golden Screen Production
                                            .slide-up
                                                +button--buy-now
                                                +button--save2
                                .swiper-slide
                                    .article-partner
                                        img(src="images/brands/partner1.png")
                                        .content.text-center
                                            h3.title Golden Screen Production
                                            .slide-up
                                                +button--buy-now
                                                +button--save2
                                .swiper-slide
                                    .article-partner
                                        img(src="images/brands/partner2.png")
                                        .content.text-center
                                            h3.title Golden Screen Production
                                            .slide-up
                                                +button--buy-now
                                                +button--save2
                                .swiper-slide
                                    .article-partner
                                        img(src="images/brands/partner1.png")
                                        .content.text-center
                                            h3.title Golden Screen Production
                                            .slide-up
                                                +button--buy-now
                                                +button--save2
                                .swiper-slide
                                    .article-partner
                                        img(src="images/brands/partner2.png")
                                        .content.text-center
                                            h3.title Golden Screen Production
                                            .slide-up
                                                +button--buy-now
                                                +button--save2

                            .swiper-pagination
    include ./includes/modals


block extend_js
    script.
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });