doctype html
html
    head
        include ./layouts/head
    body
        block content
            main.landing-page
                .container.h-100
                    .row.h-100.align-items-start.d-flex.align-items-md-center
                        .col-12.col-md-7.content
                            h1 GOLDEN CONTENT HUB
                            p.
                                Sàn giao dịch nội dung đầu tiên và lớn nhất Việt Nam với hơn hàng ngàn nội dung giải trí, quảng cáo có bản quyền
                                <br/>
                                Golden content hub là nơi những nhà sáng tạo nội dung có thể đưa "đứa con tinh thần" của mình đến gần hơn với các nhà đầu tư, nhà quảng cáo và người dùng.
                            div.box.box--buy
                                span Tôi cần mua bán nội dung
                                i.icon.icon--next
                            div.box.box--ads
                                span Tôi cần đặt hàng dịch vụ quảng cáo
                                i.icon.icon--next



        include ./layouts/footer
