.brands-page {
  .section--intro {
    background: url("../../images/brands/bgintro.png") no-repeat top right/cover;
    background-clip: content-box;
    position: relative;
    height: 532px;
    margin-bottom: 0;

    .svg-border-rounded {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    .svg-border-rounded svg {
      height: 1rem;
      width: 100%;
    }

    @media (min-width: 576px) {
      .svg-border-rounded svg {
        height: 1.5rem;
      }
    }
    @media (min-width: 768px) {
      .svg-border-rounded svg {
        height: 2rem;
      }
    }
    @media (min-width: 992px) {
      .svg-border-rounded svg {
        height: 2.5rem;
      }
    }
    @media (min-width: 1200px) {
      .svg-border-rounded svg {
        height: 7rem;
      }
    }

    .title {
      color: $white;
      font-weight: bold;
      font-size: 40px;
      line-height: 53px;
      margin: 65px 0 30px 0;
      @include lg() {
        margin: 45px 0 25px 0;
        font-size: 25px;
        line-height: 27px;
      }
    }

    .button.button--orange {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      width: 198px;
      margin-top: 45px;

      i {
        margin-right: 15px;
      }

      background: $gradient;
    }

    @include lg() {
      height: 350px;
      .title {
        max-width: 70%;
      }
      .button.button--orange {
        height: 30px;
        width: auto;
        line-height: 30px;
        margin-top: 15px;

        i.icon--next {
          width: 32px;
          height: 17px;
        }
      }
    }
    @include md() {
      height: 250px;
      .title {
        margin: 15px 0;
        font-size: 16px;
        line-height: 21px;
      }
      .button.button--orange {
        margin-top: 0;
      }
    }
  }

  .section--box {
    margin: 15px 0 0 0;
    height: 0;

    .box {
      padding: 30px;
      position: relative;
      top: -200px;
      z-index: 2;
      @include lg() {
        top: 0;
      }

      .box__title {
        font-weight: bold;
        font-size: 25px;
        line-height: 29px;
        margin-bottom: 40px;
      }

      background: $white;
      box-shadow: 0 4px 15px rgba(224, 224, 224, 0.25);
      border-radius: 10px;
      height: 230px;

      .swiper-slide {
        width: 272px;
      }

      .box__article {
        cursor: pointer;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        position: relative;
        width: 272px;
        height: 156px;
        overflow: hidden;

        .shadow {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
          z-index: 0;
          transition: .3s ease-in;
        }

        .content {
          color: $white;
          font-size: 15px;
          line-height: 18px;
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
          z-index: 1;
          padding: 14px 12px;

          .slide-up {
            margin-top: 0;
            height: 0;
            visibility: hidden;
            overflow: hidden;
            transition: .3s ease-in;
          }

          .des {
            display: flex;
            align-items: center;

            i {
              margin-right: 10px;
            }
          }

          .icon--gift {
            position: absolute;
            right: 10px;
            top: 10px;
            margin-right: 0;
            transform: scale(0);
            transition: .3s ease-in .2s;
          }

          p {
            margin-bottom: 5px;
            font-size: 12px;
            line-height: 14px;
          }
        }

        img {
          width: 100%;
          height: 100%;
        }

        &:hover {
          .shadow {
            background: rgba(0, 0, 0, .8);
          }

          .icon--gift {
            transform: scale(1);
          }

          .slide-up {
            height: 97px;
            display: block;
            visibility: visible;
            margin-top: 10px;
          }
        }
      }
    }

    @include lg() {
      height: auto;
      .box {
        height: auto;
      }
    }
    @include md() {
      .box {
        padding: 0;

        .box__title {
          max-width: 50%;
          font-size: 16px;
          line-height: 17px;
          margin-bottom: 12px !important;
        }

        .button--register {
          height: 30px;

          i {
            height: 18px !important;
          }

          font-size: 15px;
          line-height: 18px;
          padding: 10px;
          margin-bottom: 20px;
        }

        .swiper-slide {
          width: 210px;

          .box__article {
            width: 210px;
            height: 120px;

            .content {
              padding: 5px;

              .view {
                display: none;
              }
            }

            .icon--gift {
              display: none;
            }

            &:hover {
              .slide-up {
                height: 80px;
              }
            }
          }
        }
      }
    }
  }

  .section--block4 {
    .swiper-slide {
      width: 25%;
    }

    @include lg() {
      .swiper-slide {
        width: 270px;

        .block {
          background: #F2F2F2;
        }
      }
      .swiper-slide-active {
        .block {
          background: $white;
          border: 1px solid rgba(238, 134, 51, 0.52);

          .button--mail {
            transform: scale(1);
          }
        }
      }
    }

    .block {
      text-align: center;
      height: 440px;
      padding: 15px;
      border-radius: 10px;

      &__title {
        margin-top: 30px;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        @include text-clamp()
      }

      &__des {
        min-height: 150px;
        display: flex;
        align-items: center;
        padding: 10px 15px;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #797979;
      }

      .button--mail {
        transform: scale(0);
        transition: .3s linear;
      }

      &:hover {
        .button--mail {
          transform: scale(1);
        }
      }
      @include sm(){
        height: 325px;
        padding: 10px;
        img{
          height: 96px;
        }
        &__title{
          margin-top: 0;
        }
        &__des {
          padding: 0;
          min-height: 130px;
        }
      }
    }
  }

  .section--channel {
    .row {
      margin-bottom: 85px;
    }

    .col-md-5 {
      max-width: 497px;
      @include md() {
        max-width: 100%;
      }

      .article-brand1 {
        img {
          width: 100%;
          max-width: 100%;
          height: 100%;
        }

        .content {
          padding: 24px;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          color: $white;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          svg {
            margin-right: 0;
            display: none;
          }

          .title {
            font-weight: 900;
            font-size: 25px;
            text-transform: uppercase;
            line-height: 29px;
            margin-bottom: 14px;

            &::before {
              content: "# ";
            }
          }

          p {
            font-size: 15px;
            line-height: 18px;
            margin-bottom: 8px;
          }

          .line {
            margin-bottom: 7px;
          }

          .percent {
            display: flex;
            margin-bottom: 7px;
            align-items: center;
            font-size: 15px;
            line-height: 18px;

            &:last-child {
              margin-bottom: 0;
            }

            & > span {
              font-weight: 700;
              flex: 0 0 50px;
            }

            .percent__wrapper {
              width: 100%;
              height: 10px;
              position: relative;
            }

            .percent__meter {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              border-radius: 5px;

              &.percent--men {
                background: #B6C4FF;
              }

              &.percent--women {
                background: #FD4755;
              }

              &::after {
                font-weight: 300;
                font-size: 10px;
                line-height: 12px;
                position: absolute;
                content: attr(data-percent);
                left: calc(100% + 10px);
                top: 0;
              }
            }
          }

          .button {
            margin-top: 15px;
          }
        }

        @include lg() {
          .content {
            flex-direction: column;
            padding: 15px;

            .title {
              color: $orange;
            }

            .view {
              display: none;
            }

            svg {
              display: inline-block;
              margin-right: 10px;
            }

            & > .d-flex {
              order: -1;
              flex-direction: row !important;
              justify-content: space-between;
              align-items: center !important;
              width: 100%;

              .button {
                margin-top: 0;
              }

              .button--viewmore {

                span {
                  display: none;
                }
              }
            }

            & > .flex-grow-1 {
              margin-top: 15px;
              padding-right: 0 !important;
              width: 100%;
            }
          }
        }
        @include md() {
          border-top-right-radius: 20px;
          border-top-left-radius: 20px;
          overflow: hidden;
          max-width: 100%;
          margin: 0 auto 15px;
          width: 373px;
          height: 200px;
        }
      }
    }

    .col-md-7 {
      flex-grow: 1;

      .swiper-wrapper {
        padding-bottom: 5px;
      }

      .swiper-brand2 {
        .swiper-slide {
          width: 304px;

          .article-brand2 {
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            box-shadow: 0 4px 4px rgba(196, 196, 196, 0.25);
            position: relative;

            img {
              border-top-right-radius: 10px;
              border-top-left-radius: 10px;
              width: 100%;
              height: 165px;
            }

            .des {
              .show-hover {
                height: 0;
                overflow: hidden;
                transform: scale(0);
                transition: .2s ease-in;
              }

              .button {
                height: 30px;
                margin: 7px 5px;
              }

              padding: 7px 10px;
            }

            &:hover {
              .des {
                .show-hover {
                  height: 100%;
                  transform: scale(1);
                }
              }
            }
          }

          @include md() {
            width: 105px;
            .article-brand2 {
              width: 105px;
              height: 105px;

              .des {
                display: none !important;
              }

              img {
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                height: 100%;
              }
            }
          }
        }

        @include md() {
          .swiper-navigation {
            justify-content: center;
          }
        }
      }
    }
  }

  .section--discover {
    .section__viewmore {
      position: relative;
      font-size: 15px;
      line-height: 18px;
      top: -40px;
      font-weight: 500;
    }

    .swiper-slide {
      width: 326px;

      .article-discover {
        width: 326px;
        height: 321px;
        position: relative;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }

        .shadow {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 1;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        }

        .content {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 20px;
          z-index: 2;
          color: $white;

          .title {
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 0;
          }

          .tags {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 15px;

            .dot {
              margin-left: 15px;

              &::before {
                content: "·  "
              }
            }

            .tag {
              &::before {
                content: "@"
              }
            }
          }

          .des {
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
          }

          .viewmore {
            height: 0;
            transform: scale(0);
            transition: .2s ease-in;
          }

        }
        &:hover {
          .content{
            .viewmore {
              height: 100%;
              transform: scale(1);
            }
          }
        }
      }

      @include md() {
        width: 290px;
        .article-discover {
          width: 290px;
          height: 150px;

          .content {
            padding: 10px 15px;

            .title {
              font-size: 16px;
              line-height: 19px;
            }

            .tags {
              font-size: 12px;
              line-height: 14px;
            }

            .des {
              font-size: 14px;
              line-height: 16px;
              margin-bottom: 0;
            }

            .viewmore {

            }
          }
        }
      }
    }
  }

  .section--adv {
    /* Gray 6 */
    padding: 40px 0;
    background: #F2F2F2;

    .swiper-wrapper {
      height: 468px;
      align-items: flex-end;
    }

    .swiper-slide {
      width: 400px;
      height: 368px;
      padding: 10px;

      .article-adv {
        .content {
          visibility: hidden;
        }

        .title {
          margin-top: 40px;
          margin-bottom: 5px;
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          text-align: center;
          /* Gray 1 */
          color: #333333;
        }

        .follow {
          font-size: 15px;
          line-height: 18px;
          text-align: center;
          margin-bottom: 12px;
        }

        .button--orange {
          padding: 0 15px;
        }

        img {
          transition: .3s ease;
          transform-origin: center;
          filter: brightness(60%);
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          border-radius: 20px;
          width: 360px;
          height: 205px;
        }
      }

      &.swiper-slide-active {
        .article-adv {
          .content {
            visibility: visible;
          }

          img {
            transform: scale(1.2);
            filter: brightness(100%);
          }
        }
      }
    }

    @include md() {
      .swiper-wrapper {
        height: 380px;
        justify-content: inherit;
        align-items: initial;

        .swiper-slide {
          .article-adv {
            img {
              width: 100%;
              transform: scale(1) !important;
            }
          }
        }
      }
    }
    @include sm() {
      .swiper-wrapper {
        height: 170px;
      }
      .swiper-slide {
        width: 210px;
        padding: 0;

        .article-adv {
          width: 201px;
          height: 150px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          overflow: hidden;

          .content {
            padding: 18px 15px;
            visibility: visible;
            text-align: left !important;
            background: linear-gradient(135deg, #686868 25.01%, #494949 95.06%);
            color: $white;

            .title {
              font-size: 16px;
              line-height: 19px;
              color: $white;
              margin: 0;
              margin-bottom: 5px;
              text-align: left;
            }

            .follow {
              text-align: left;
              font-weight: normal;
              font-size: 12px;
              line-height: 14px;
            }

            .viewmore {
              display: none !important;
            }
          }

          img {
            width: 201px;
            height: 70px;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            transform: scale(1) !important;
          }
        }
      }

    }
  }

  .section--teamwork {
    .swiper-teamwork {
      margin-top: 35px;
    }

    .swiper-slide {
      width: 170px;

      .article-partner {
        width: 170px;
        text-align: center;
        overflow: hidden;
        .slide-up {
          margin-top: 30px;
          flex-direction: column;
          align-items: center;
          display: flex;
          transform: translateY(100px);
          transition: .2s ease-in;
          .button {
            margin-bottom: 5px;
            padding-right: 15px;
          }
        }

        .title {
          font-size: 18px;
          line-height: 22px;
          @include md() {
            font-size: 14px;
            line-height: 16px;
          }
        }

        img {
          width: 150px;
          height: 150px;
        }
        &:hover{
          .slide-up{
            transform: translateY(0);
          }
        }
        @include md(){
          .slide-up{
            transform: translateY(0);
          }
        }
      }
    }
  }
}