.landing-page{
  height: 100vh;
  font-size: 20px;
  font-weight: 300;
  color: $white;
  background: url("../../images/landingpage/bgd.png") no-repeat center/cover;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90.45deg, rgba(0, 0, 0, 0.85) 0.77%, rgba(0, 0, 0, 0) 100.02%);
    z-index: 0;
  }
  .content{
    position: relative;
    h1{
      margin-bottom: 48px;
      font-weight: bold;
      font-size: 50px;
      line-height: 59px;
      color: #FE7E07;

    }
    p{
      line-height: 26px;
      max-width: 410px;
      padding-bottom: 45px;
    }
    .box{
      cursor: pointer;
      margin-top: 24px;
      padding: 12px 25px;
      width: 410px;
      max-width: 100%;
      -webkit-border-radius: 999px;
      -moz-border-radius: 999px;
      border-radius: 999px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;

      i{
        margin-left: 2px;
      }
      &--ads{
        background: $orange;
      }
      &--buy{
          background: $blue;
      }
    }
  }
  @include md(){
    background: url("../../images/landingpage/bgm.png") no-repeat center/cover;
    &::before{
      background: rgba(0, 0, 0, 0.8);
    }
    .content{
      h1{
        font-size: 24px;
        margin-top: 28px;
        margin-bottom: 22px;
        line-height: 28px;
      }
      p{
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 15px;
      }
      .box{
        box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        display: block;
        padding: 16px 21px;
        white-space: break-spaces;
        i{
          margin-top: 15px;
          display: block;
        }
        &--buy{
          font-weight: 600;
          line-height: 23px;
          height: 170px;
          background:#3E4BF6 url("../../images/landingpage/bgbuy.png") no-repeat bottom right/60%;
          span{
            width: 170px;
            display: inline-block;
          }
          i.icon--next{
            width: 45px;
            height: 45px;
            background: url("../../images/landingpage/next-yellow.svg") no-repeat center/contain;
          }
        }
        &--ads{
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          width: 260px;
          height: 135px;
          background:$orange url("../../images/landingpage/bgads.png") no-repeat bottom right/174px 131px;
          span{
            width: 167px;
            display: inline-block;
          }
          i.icon--next{
            width: 36px;
            height: 36px;
            background: url("../../images/landingpage/next-white.svg") no-repeat center/contain;
          }
        }
      }
    }
  }
}