.detail{
  &__thumb{
    height: 235px;
    position: relative;
    img{
      width: 100%;
      height: 100%;
    }
    .shadow {
      position: absolute;
      width: 100%;
      height: 80%;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    }
    .content{
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      padding: 15px;
      .left-thumb{
        padding-left: 35px;
        .headline{
          display: flex;
          align-items: center;
          margin-bottom: 5px;
          img{
            width: 53px;
            height: 53px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            margin-right: 10px;
          }
          .name {
            margin-bottom: 0;
            font-weight: 900;
            font-size: 30px;
            line-height: 35px;
            text-transform: uppercase;
            color: $white;
            &::before {
              content: "# ";
            }
          }
        }
        p{
          color: $white;
          font-size: 15px;
          line-height: 18px;
          margin-bottom: 5px;
        }
      }
      .right-thumb{
          .button{
            margin-left: 15px;
          }
      }
    }
  }
  &__content{
    padding: 42px 60px;
    .title{
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
    }
  }
}