@import "normalize";

$light-orange : #FFA359;
$orange :#FE7E07;
$gradient : linear-gradient(90deg, #FE9901 3.57%, #EE8633 93.3%);
$blue : #02B1F3;
$black: #000000;
$white: #ffffff;

@mixin xl(){
  @media screen and (max-width: 1200px) {
    @content
  }
}

@mixin lg(){
  @media screen and (max-width: 991px) {
    @content
  }
}

@mixin md(){
  @media screen and (max-width: 768px) {
    @content
  }
}
@mixin sm(){
  @media screen and (max-width: 540px) {
    @content
  }
}

.text{
  &--red{
    color: #FD4755;
  }
  &--white{
    color: $white;
  }
  &--black{
    color: $black;
  }
}


.line-dashed{
  height: 1px ;
  width: 141px;
  border-bottom: 1px dashed $white;
}