.footer{
  position: relative;
  margin-top: 15px;
  .logo{
    margin-top: 20px;
    @include lg(){
      display: inline-block;
      margin-right: 15px;
    }
    @include sm(){
      margin-top: 0;
      width: 98px;
      height: 33px;
    }
  }
  .footer__list{
    height: 40px;
    border-bottom: 1px solid  #797979;
    padding: 8px 0;
    .menu-list{
      padding-left: 0;
      margin-bottom: 0;
      li{
        margin-right: 24px;
        font-weight: 500;
        display: inline-block;
        list-style: none;
        a{
          font-size: 15px;
          line-height: 18px;
          color: $black;
          @include sm(){
            font-size: 12px;
          }
        }
      }
    }
    .social-list{
      padding-left: 0;
      margin-bottom: 0;
      li{
        display: inline-block;
        list-style: none;
        margin-right: 8px;
        a{
          color: $black;
        }
      }
      @include lg(){
        position: absolute;
        right: 15px;
        top: -35px;
      }
    }
    @include lg(){
      .menu-list{
        width: 100%;
        display: flex;
        justify-content: space-between;
        li{
          margin-right: 0;
        }
      }
    }
  }
  .footer__contact{
    margin-top: 30px;
    p{
      margin-bottom: 7px;
      font-size: 15px;
      line-height: 18px;
      @include sm(){
        font-size: 12px;
        &.company-name{
          font-size: 14px;
        }
      }
      a{
        color: inherit;
      }
    }
    @include md(){
      margin-top: 15px;
    }
  }
}