.header {
  position: fixed;
  width: 100%;
  left: 0;
  height: 70px;
  background: #FCFCFC;
  box-shadow: 0 4px 15px rgba(207, 207, 207, 0.25);
  z-index: 1000;

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      margin: 0 35px 0 0;
      @include sm() {
        img {
          width: 96px;
          height: 35px;
        }
      }
    }

    .dropdown-toggle {
      display: flex;
      align-items: center;
      margin-right: 20px;
      font-size: 15px;
      cursor: pointer;
      color: $black;
      @include md() {
        margin-right: 10px;
        &::after {
          content: none;
        }
      }
      @include sm() {
        order: 4;
        margin-left: 25px;
      }

      .hamburger {
        direction: rtl;
        padding-top: 5px;
        margin-right: 12px;

        span {
          display: block;
          margin-bottom: 4.5px;
          width: 30px;
          height: 2px;
          background: $black;

          &:last-child {
            width: 20px;
          }
        }
      }
    }

    .form--search {
      height: 40px;
      width: 466px;
      position: relative;
      font-size: 15px;

      button {
        position: absolute;
        right: 0;
        top: 0;
        width: 140px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          margin-right: 10px;
        }
      }

      input {
        border: 1px solid $light-orange;
        width: 100%;
        height: 40px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        padding: 11px 158px 11px 18px;
        font-size: 15px;

        &::placeholder {
          color: #E5E5E5;;
        }
      }
    }
  }

  #navbarMenu {
    position: fixed;
    top: 70px;
    width: 1242px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: #ffffff;
    max-height: calc(100vh - 70px);
    overflow: auto;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    @media screen and (max-width: 1250px) {
      width: 100%;
    }
    @include sm() {
      top: 88px;
      max-height: calc(100vh - 88px);
    }

    .background {
      background: $white url("../../images/bg-menu.png") no-repeat bottom left/contain;
    }

    .row {
      padding: 40px 15px;
      border-bottom: 1px dashed $black;

      &:last-child {
        border-bottom: none;
      }
    }

    .cat--title {
      display: flex;
      align-items: center;
      height: 55px;

      .title {
        height: 50px;
        -webkit-border-radius: 999px;
        -moz-border-radius: 999px;
        border-radius: 999px;
        margin-left: 20px;
        display: flex;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        align-items: center;
        padding: 10px 30px;

        i {
          margin-left: 20px;
        }

        &--creation {
          background: #D8ECFE;
        }

        &--channel {
          background: #FED2A4;
        }
      }
    }

    .card {
      margin: 10px;
      border: none;
      flex: 0 0 181px;
      width: 181px;
      height: 100px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      position: relative;

      &__img {
        width: 100%;
        height: 100%;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
      }

      &__title {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 14px 9px;

        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        color: $black;
      }
    }

    @include md() {
      padding-bottom: 50px;
      .cat--title {
        display: flex;
        align-items: center;
        height: 45px;
        margin-bottom: 15px;

        .title {
          height: 40px;
          font-size: 15px;
          line-height: 18px;
          align-items: center;
          padding: 10px 20px;
        }

        i {
          width: 40px !important;
          height: 40px !important;
          margin-left: 20px;
        }
      }
    }
    @include sm() {
      .card {
        flex: 0 0 48%;
        margin: 1%;

      }
    }
  }

  #navbarSearch {
    padding: 22px 5px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    .box-search{
      max-width: 500px;
      margin: 0 auto;

    }
    .scroll{
      height: 310px;
      overflow: auto;
      &::-webkit-scrollbar-track
      {
        background-color: transparent;
      }

      &::-webkit-scrollbar
      {
        width: 7px;
      }

      &::-webkit-scrollbar-thumb
      {
        background-color: #e2e2e2;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
      }
    }

    position: absolute;
    top: calc(100% + 5px);
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: #ffffff;
    height: calc(356px);
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    @include lg(){
      .form--search{
        height: auto;
        width: 100%;
        margin-bottom: 15px;
        input{
          padding: 11px 18px;
          display: block;
          margin-bottom: 7px;
        }
        .button{
          position: static;
          height: 40px;
          line-height: 40px;
          width: 139px;
        }
      }
    }
    @media screen and (max-width: 1250px) {
      margin-top: 0;
      position: fixed !important;
      width: 100% !important;
      top: 70px !important;
      transform: none!important;
    }
    @include sm() {
      top: 88px !important;
      height: calc(100vh - 88px) !important;
      .scroll{
        height: 100%;
      }
    }

    .article-search {
      display: flex;
      margin-bottom: 25px;

      img {
        flex: 0 0 140px;
        height: 85px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
      }

      .content {
        padding-left: 15px;
        .title {
          font-weight: 500;
          font-size: 18px;
          line-height: 19px;
          @include text-clamp(1)
        }
        .rating{

        }
        .des{
          @include text-clamp(2);
          font-weight: 300;
          font-size: 15px;
          line-height: 19px;
          /* or 127% */
        }
      }
    }
  }

  &__user {
    display: flex;
    align-items: center;

    .des {
      margin-left: 15px;

      p {
        margin-bottom: 0;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }

  @include xl() {
    &__left {
      .form--search {
        width: 400px;
      }
    }
  }
  @include lg() {
    &__left {
      .form--search {
        width: 110px;
        height: 30px;

        button {
          height: 100%;
          width: 100%;
          font-size: 15px;
          line-height: 18px;
        }

        input {
          display: none;
        }
      }
    }
  }
  @include sm() {
    height: 88px;
  }
}

main {
  padding-top: 70px;
  @include sm() {
    padding-top: 88px;
  }
}